*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

html,
body {
  margin: auto;
  overflow: hidden;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  position: relative;
  max-width: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.container {
  text-align: center;
  margin: auto;
}
